
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>
<div id="category-selection">
    <p>
        Product categories:
        <select data-bind="options: productCategories,
                optionsText: 'text',
                optionsValue: 'id',
                value: selectedProductCategory,
                optionsCaption: 'Choose...'"></select>
    </p>
</div>

@section scripts {
<script>
    var ProductCategoriesViewModel = function () {
        var self = this;

        self.productCategories = ko.observableArray([]);
        self.selectedProductCategory = ko.observable();

        $.ajax({
            url: '/api/productcategory',
            type: 'GET',
            //data: { ids: Sepia.Portal.BrandSelection.selectedBrands.peek() },
            traditional: true,
            success: function (result) {
                for (var i = 0; i < result.length; i++) {
                    self.productCategories.push({ id: result[i].ProductCategoryID, text: result[i].Name });
                }
            }
        });
    };

    ko.applyBindings(new ProductCategoriesViewModel(), document.getElementById("category-selection"));
</script>
}