
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

<div id="product-viewer">
    <div id="category-selection">
        <span>
            Product categories:
            <select data-bind="options: productCategories,
                optionsText: 'text',
                optionsValue: 'id',
                value: selectedProductCategory,
                optionsCaption: 'Choose...'"></select>
        </span>
        <span>
            <button data-bind="click: find">Find</button>
        </span>
    </div>

    <div id="products">
        <table>
            <thead>
                <tr><th>Product ID</th><th>Name</th></tr>
            </thead>
            <tbody data-bind="foreach: products">
                <tr>
                    <td data-bind="text: productid"></td>
                    <td data-bind="text: productname"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@section scripts {
<script>
    var ProductViewerViewModel = function () {
        var self = this;

        self.products = ko.observableArray([]);
        self.productCategories = ko.observableArray([]);
        self.selectedProductCategory = ko.observable();

        self.find = function () {
            var url = '/api/product/get';

            $.ajax({
                url: url,
                type: 'GET',
                data: {id: self.selectedProductCategory()},
                traditional: true,
                success: function (result) {
                    self.products.removeAll();
                    for (var i = 0; i < result.length; i++) {
                        self.products.push({ productid: result[i].ProductID, productname: result[i].Name });
                    }
                }
            });
        };

        $.ajax({
            url: '/api/productcategory',
            type: 'GET',
            traditional: true,
            success: function (result) {
                for (var i = 0; i < result.length; i++) {
                    self.productCategories.push({ id: result[i].ProductCategoryID, text: result[i].Name });
                }
            }
        });
    };

    ko.applyBindings(new ProductViewerViewModel(), document.getElementById("product-viewer"));
</script>
}